body 
{
    width:100%;
    height:fit-content;
    margin:0;
    font-size:0;
    background-color: #212121;
}

.topbar
{
    display:flex;
    width:100%;
    height:60px;
    background-color:#323232;
    margin:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:fixed;
}

.topbar .back
{
    display:flex;
    width:auto;
    height:auto;
    margin:auto 20px auto 10px;
    cursor: pointer;
}

.back svg 
{
    display:flex;
    width:35px;
    height:35px;
    margin:0;
    cursor: pointer;
    fill:#0D7377;
}

.topbar .online 
{
    display:flex;
    width:fit-content;
    height:auto;
    margin:auto;
    position:relative;
    right:30px;
}

.online svg 
{
    display:flex;
    width:35px;
    height:35px;
    margin:0;
    fill:#14FFEC;
}

.online p 
{
    display:flex;
    width:auto;
    height:auto;
    margin:auto 0px auto 15px;
    font-size:20px;
    font-family:coco;
    color:white;
}

.online img 
{
    display: flex;
    width:40px;
    height:40px;
    margin:0px 0px 0px 5px;
}

form 
{
    display:flex;
    width:100%;
    height:60px;
    position:fixed;
    bottom:0;
    margin-bottom:30px;
}

.input 
{
    display:flex;
    width:270px;
    height:40px;
    margin:auto 0px auto auto; 
    background-color:#323232;
    border:none;
    border-radius:5px;
    color:#14FFEC;
    font-family: coco;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input:focus
{
    outline: none;
}

.input::placeholder
{
    color:#14FFEC;
    font-family: coco;
}

.sub 
{
    display:flex;
    width:auto;
    height:40px;
    margin:auto auto auto 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #14FFEC;
    border-radius: 5px;
    color:#0D7377;
    font-family: coco;
}

.chatbox
{
    display:flex;
    flex-direction: column;
    width:100%;
    height:fit-content;
    margin:0px 0px 70px 0px;
    padding-top: 80px;
}

.texts
{
    display:flex;
    width:fit-content;
    height:auto;
    margin:5px 10px 5px auto;
    padding:10px 15px 10px 15px;
    font-size:17px;
    font-family: coco;
    color:white;
    background-color: #323232;
    border-radius: 5px;
    max-width: 300px;
}

@media screen and (min-width:700px)
{
    .input
    {
        width:500px;
    }
}