body 
{
    display:block;
    width:100%;
    height:auto;
    margin:0;
    /* background-color: #060047; */
    background-color: #212121;
    font-size: 0px;
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}

.topbar
{
    display:flex;
    width: 100%;
    height:54px;
    margin:0;
    background-color: #323232;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 2;
}

.topbar p
{
    display:flex;
    width:auto;
    height:auto;
    margin:auto;
    font-size:45px;
    font-family:bebas;
    /* color:#FF0000; */
    position: relative;
    top:2px;
    background: -webkit-linear-gradient(right, #0fd850 0%, #f9f047 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ham , .hamopen
{
    display: block;
    width:50px;
    height:auto;
    margin:auto auto auto 10px;
    cursor: pointer;
    overflow:hidden;
    transition: 0.5s;
    z-index: 2;
}

.hamopen 
{
    transform:translateX(250px);
    transition: 0.5s;
}

.ham .bar1 , .ham .bar2 , .ham .bar3 , .hamopen .bar1 , .hamopen .bar2 , .hamopen .bar3
{
    display:block;
    width:30px;
    height:4px;
    background-color: #14FFEC;
    margin:5px auto auto auto;
    transition: 0.5s;
}

.ham .bar3, .hamopen .bar3
{
    margin-bottom: 5px;
}

.hamopen .bar1
{
    transform:translateY(9px) rotate(45deg);
    transition: 0.5s;
}

.hamopen .bar2
{
    transform: translateX(-50px);
    transition: 0.5s;
}

.hamopen .bar3
{
    transform:translateY(-9px) rotate(-45deg);
    transition: 0.5s;
}

.topbar svg , .topbar img
{
    display:flex;
    height:35px;
    width:auto;
    margin:auto 10px auto auto;
    cursor: pointer;
}

.dup , .ddown
{
    display:block;
    width:200px;
    height:0px;
    margin:0;
    position:fixed;
    z-index: 1;
    border-radius: 20px;
    background-image:linear-gradient(225deg,#212121,#323232,#0D7377,#14FFEC) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    right:0;
    overflow: hidden;
    transition: 0.5s;
}

.ddown
{
    height: 500px;
    transition: 0.5s;
}

.sidebar , .sideopen
{
    display:block;
    height:100%;
    width:0px;
    margin:0;
    background-color: #0d74777e;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 3;
    border-radius:0px 20px 20px 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}

.sideopen 
{
    width: 250px;
    transition: 0.5s;
}

.sidetit 
{
    display:block;
    width:250px;
    height:auto;
    margin:30px 0px 0px 0px;
    font-size:50px;
    font-family: bebas;
    color:white;
    text-align: center;
    background: -webkit-linear-gradient(right, #d8690f 0%, #f94747 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.opt
{
    display:block;
    width:250px;
    height:auto;
    margin:0px 0px 20px 0px;
    font-size:25px;
    font-family: coco;
    color:#14FFEC;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, #212121 0%, #323232  100%);
}

.popup 
{
    display:flex;
    width:100%;
    height:0;
    margin:auto;
    position: fixed;
    z-index: 4;
    overflow: hidden;
    backdrop-filter: blur(2px);
}

.popup p 
{
    display: flex;
    margin:auto;
    width:auto;
    height:auto;
    font-size:20px;
    font-family: coco;
    color:white;
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    border:2px solid white;
    background-image:linear-gradient(to right, #6370fe 0%, #1368de 100%);
    box-shadow: 0 4px 8px 0 #9263fe4a, 0 6px 20px 0 #ab13de4e;
}

.bottombar
{
    display:flex;
    width:100%;
    height:auto;
    margin:0;
    background-color: #323232;
    bottom:0;
    position: fixed;
    z-index: 2;
    border-top: 1px solid #0D7377;
}

.home , .acc , .settings , .chat
{
    display:flex;
    height:31px;
    width:auto;
    margin:auto;
    cursor:pointer;
    padding: 10px;
}

.part1 
{
    display:block;
    width:100%;
    height:auto;
    margin:0;
    padding-top: 54px;
    overflow-x: scroll;
}

.part1 .frame 
{
    display:block;
    width:100%;
    height:100%;
    margin:0;
    overflow-x: scroll;
    /* background-image: url(p2bg.png);
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: white; */
}

.p1title 
{
    display:flex;
    width: auto;
    height:auto;
    margin:0px auto 0px 30px;
    font-size:23px;
    font-family:coco;
    color:white;
    padding-top: 40px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.p1user 
{
    display:flex;
    width:fit-content;
    height:auto;
    margin:20px 0px 0px 0px;
}

.p1user p
{
    display:flex;
    width:auto;
    height: auto;
    margin:0px auto 0px 30px;
    font-size:40px;
    font-family:coco;
    color:white;
    background-image: none;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.p1user img 
{
    display:flex;
    width:35px;
    height:auto;
    margin:auto auto auto 10px;
    transform: translateY(-2px);
}

.searchbar , .searchbarpc
{
    display:flex;
    width:100%;
    height:50px;
    margin:30px 0px 0px 0px;
}

.searchbar form , .searchbarpc form
{
    margin:auto 0px auto auto;
}

.searchbar input , .searchbarpc input
{
    display:flex;
    width:270px;
    height:50px;
    background-color: #0D7377;
    border:none;
    border-radius:50px 0px 0px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size:20px;
    color:#14FFEC;
    font-family: coco;
}

.searchbar input::placeholder , .searchbarpc input::placeholder
{
    font-size:15px;
    position:relative;
    left:20px;
    font-family: coco;
    color:#14FFEC;
}

.searchbar input:focus , .searchbarpc input:focus
{
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.searchbar svg , .searchbarpc svg
{
    display:flex;
    margin:auto auto auto 0px;
    width:36px;
    height:auto;
    background-color: #0D7377;
    border-radius: 0px 50px 50px 0px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.trend 
{
    display:flex;
    width:fit-content;
    height:auto;
    margin:40px 0px 0px 0px;
}

.trend p 
{
    display:flex;
    width:auto;
    height:auto;
    font-size:22px;
    font-family:coco;
    margin:auto auto auto 30px;
    color:white;
}

.trend svg 
{
    display:flex;
    width:20px;
    height:auto;
    margin:auto 20px auto 50px;
    cursor: pointer;
    padding:5px;
}

.ss 
{
    display:flex;
    width:100%;
    height:auto;
    margin:30px 0px 0px 0px;
    overflow-x: scroll;
}

.blok 
{
    display:blok;
    width:auto;
    height:auto;
    margin:0px 20px 0px 20px;
}

.blok img 
{
    display:block;
    width:250px;
    height:354px;
    margin:auto;
    border-radius:20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    cursor: pointer;
    box-shadow: rgba(20,255,236,0.4) -5px 5px, rgba(20, 255, 236, 0.3) -10px 10px, rgba(20, 255, 236, 0.2) -15px 15px, rgba(20, 255, 236, 0.1) -20px 20px, rgba(20, 255, 1236, 0.05) -25px 25px;
}

.blok .ssp1 
{
    display:block;
    width:100%;
    height:auto;
    font-size:20px;
    font-family:coco;
    color:white;
    margin:20px 0px 0px 0px;
}

.blok .ssp2 
{
    display:block;
    width:100%;
    height:auto;
    font-size:15px;
    font-family:coco;
    color:rgba(255, 255, 255, 0.6);
    margin: 10px 0px 10px 0px;
}

.part2 
{
    display:block;
    width:100%;
    height:2800px;
    margin:0;
    /* background-image: url(p2bg180.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white; */
} 

.part2 .p2div1
{
    display:flex;
    width:fit-content;
    height:auto;
    margin:40px 0px 0px 0px;
}

.p2div1 p 
{
    display:flex;
    margin:0px auto 0px 30px;
    width:auto;
    height:auto;
    font-size:27px;
    font-family:coco;
    color:white;
}

.p2div1 svg 
{
    display:flex;
    margin:auto auto auto 50px;
    width:20px;
    height:auto;
    position: relative;
    bottom: 3px;
}

.post 
{
    display:block;
    width:100%;
    height:auto;
    margin:60px 0px 0px 0px;
}

.post img
{
    display:block;
    width:350px;
    height:auto;
    margin:0px auto 0px auto;
    border: 1px solid white;
    border-radius: 5px;
}

.post .features 
{
    display:flex;
    width:fit-content;
    height:auto;
    margin:10px auto 0px auto;
}

.post .psvg
{
    display:flex;
    width:auto;
    height:30px;
    margin:auto auto auto 10px;
    cursor: pointer;
}

.save 
{
    display:flex;
    width:auto;
    height:30px;
    margin:auto auto auto 180px;
    cursor: pointer;
}

.post .btns
{
    display:flex;
    width:fit-content;
    height:auto;
    margin:20px auto 0px auto;
}

.btns .btn1 , .btns .btn2
{
    display:flex;
    width:auto;
    height:auto;
    margin:0;
    font-size:20px;
    font-family: coco;
    color:white;
    cursor: pointer;
    padding:10px 20px 10px 20px;
    background-image:linear-gradient(to right, #FEC163 0%, #DE4313 100%);
    box-shadow: 0 4px 8px 0 #fec0634a, 0 6px 20px 0 #de42134e;
    border-radius: 50px;
}

.btns .btn2 
{
    margin:0px 0px 0px 50px;
    background-image:linear-gradient(to right, #81FBB8 0%, #28C76F 100%);
    box-shadow: 0 4px 8px 0 #81fbb84f, 0 6px 20px 0 #28c76f54;
}

.pctop 
{
    display: none;
}

@media screen and (min-width:850px)
{
    .topbar , .part1 , .part2 , .bottombar
    {
        display: none;
    }

    .pctop
    {
        display:flex;
        width:100%;
        height:80px;
        margin:0;
        padding-top: 20px;
        /* background-color: #323232; */
    }

    .pctop p 
    {
        display: flex;
        width:auto;
        height:auto;
        font-size:60px;
        font-family: bebas;
        margin:auto auto auto 40px;
        background: -webkit-linear-gradient(right, #0fd850 0%, #f9f047 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .searchbarpc
    {
        margin:auto;
    }

    .searchbarpc input
    {
        width:400px;
        height: 40px;
    }

    .searchbarpc svg 
    {
        width:26px;
    }

    .pcacc , .gear
    {
        display:flex;
        width:45px;
        height:auto;
        margin:auto 30px auto auto;
        cursor: pointer;
        fill:#14FFEC;
        stroke: #0D7377;
        stroke-width: 30px;
    }

    .pcpart1
    {
        display:flex;
        width:100%;
        height:auto;
        margin:20px 0px 0px 0px;
    }

    .spanel
    {
        display:flex;
        flex-direction: column;
        width:270px;
        height:auto;
        background-color:#323232;
    }

    .spanel .pcopt
    {
        display: flex;
        width:100%;
        height:auto;
        margin:10px 0px 10px 0px;
        cursor: pointer;
        padding: 10px 0px 10px 0px;
    }

    .pcopt svg 
    {
        display:flex;
        width:35px;
        height:auto;
        margin:auto 10px auto auto;
        position: relative;
        bottom: 3px;
        fill:#14FFEC;
        stroke:#0D7377;
        stroke-width: 25px;
    }

    .pcopt p
    {
        display:flex;
        width:auto;
        height:auto;
        font-size: 20px;
        font-family: coco;
        color:white;
        margin: auto auto auto 0px;
    }

    .pcopt:hover
    {
        background-color: #212121;
    }

    .pcpart1 .mainpcp1
    {
        display: flex;
        flex-direction:column;
        width:fit-content;
        height: auto;
        margin:0px auto 0px 0px;
    }

    .pcp1head
    {
        display: flex;
        width:fit-content;
        height: auto;
        margin:0;
        padding:10px 10px 10px 30px;
        cursor: pointer;
    }

    .pcp1head p
    {
        display: flex;
        width:auto;
        height:auto;
        font-size:20px;
        font-family: coco;
        color:white;
        margin:0;
    }

    .pcp1head svg 
    {
        display: flex;
        width:30px;
        height: 30px;
        margin:auto auto auto 30px;
        fill:#14FFEC;
        stroke:#0D7377;
        stroke-width:25px;
        position: relative;
        bottom: 3px;
    }

    .pcp1head:hover
    {
        background-color:#0D7377;
        border-radius: 5px;
    }
}