body 
{
    display:block;
    width:100%;
    height:1000px;
    margin:0;
    background-color: white;
    font-size: 0px;
    background-image: url(p2bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.topbar
{
    display:flex;
    width: 100%;
    height:54px;
    margin:0;
    background-color: #252525;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 1;
}

.topbar p
{
    display:flex;
    width:auto;
    height:auto;
    margin:auto;
    font-size:45px;
    font-family:bebas;
    color:#FF0000;
    position: relative;
    top:2px;
}

.ham , .hamopen
{
    display: block;
    width:50px;
    height:auto;
    margin:auto auto auto 10px;
    cursor: pointer;
    overflow:hidden;
    transition: 0.5s;
    z-index: 2;
}

.hamopen 
{
    transform:translateX(250px);
    transition: 0.5s;
}

.ham .bar1 , .ham .bar2 , .ham .bar3 , .hamopen .bar1 , .hamopen .bar2 , .hamopen .bar3
{
    display:block;
    width:30px;
    height:4px;
    background-color: #9400ff;
    margin:5px auto auto auto;
    transition: 0.5s;
}

.ham .bar3, .hamopen .bar3
{
    margin-bottom: 5px;
}

.hamopen .bar1
{
    transform:translateY(9px) rotate(45deg);
    transition: 0.5s;
}

.hamopen .bar2
{
    transform: translateX(-50px);
    transition: 0.5s;
}

.hamopen .bar3
{
    transform:translateY(-9px) rotate(-45deg);
    transition: 0.5s;
}

.topbar svg , .topbar img
{
    display:flex;
    height:40px;
    width:auto;
    margin:auto 10px auto auto;
    cursor: pointer;
}

.sidebar , .sideopen
{
    display:block;
    height:100%;
    width:0px;
    margin:0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 2;
    border-radius:0px 20px 20px 0px;
    overflow: hidden;
    transition: 0.5s;
}

.sideopen 
{
    width: 250px;
    transition: 0.5s;
}

.bottombar
{
    display:flex;
    width:100%;
    height:auto;
    margin:0;
    background-color: #252525;
    bottom:0;
    position: fixed;
    z-index: 1;
}

.home , .acc , .settings , .chat
{
    display:flex;
    height:35px;
    width:auto;
    margin:auto;
    cursor:pointer;
    padding: 10px;
}

.part1 
{
    display:block;
    width:100%;
    height:900px;
    margin:0;
    padding-top: 54px;
}

.part1 .frame 
{
    display:block;
    width:100%;
    height:100%;
    margin:0;
}

.p1title 
{
    display:flex;
    width: auto;
    height:auto;
    margin:0px auto 0px 30px;
    font-size:23px;
    font-family:coco;
    color:black;
    padding-top: 40px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.p1user 
{
    display:flex;
    width:100%;
    height:auto;
    margin:20px 0px 0px 0px;
}

.p1user p
{
    display:flex;
    width:auto;
    height: auto;
    margin:0px auto 0px 30px;
    font-size:40px;
    font-family:coco;
    color:black;
    background-image: none;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.p1user img 
{
    display:flex;
    width:40px;
    height:auto;
    margin:auto auto auto 0px;
    transform: translateY(-5px);
}

.searchbar 
{
    display:flex;
    width:100%;
    height:50px;
    margin:30px 0px 0px 0px;
}

.searchbar form 
{
    margin:auto 0px auto auto;
}

.searchbar input 
{
    display:flex;
    width:300px;
    height:50px;
    background-color: rgba(255, 255, 255, 0.5);
    border:none;
    border-radius:50px 0px 0px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size:20px;
    color:black;
    font-family: coco;
}

.searchbar input::placeholder
{
    font-size:15px;
    position:relative;
    left:20px;
    font-family: coco;
}

.searchbar input:focus
{
    background-color: white;
}

.searchbar svg 
{
    display:flex;
    margin:auto auto auto 0px;
    width:36px;
    height:auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 50px 50px 0px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}